@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Lucida Sans Unicode;
}

body {
	background-color: white;
}

/*Header*/
.my_header {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	padding: 10px 10%;
	background-color: white;
}

/*The logotype*/
.logotype {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.logotype img {
	height: 250px;
	width: 350px;
}

.new_font {
	margin-top: -40px;
	font-family: 'Marck Script', cursive;
	color: dimgrey;
	font-size: 42px;
	text-shadow: 5px 0px 5px grey;
	text-shadow: 10px 0px 10px lightpink;
}

/*The Navigation panel*/
.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
}

.navigation li {
	margin: 0px 15px;
}

.navigation li a {
	display: inline-block;
	text-decoration: none;
	color: black;
	background-color: lightpink;
	border-radius: 30px;
	padding: 15px;
	transition: 0.2s;
	font-size: 1.3em;
}

.navigation li a:hover {
	background-color: black;
	color: white;
}


/*The main part. The Banner*/
.banner {
	background: url('Images/new_phone.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center right;
	max-width: 100%;
	height: 80vh;
	position: relative;
}

.banner img {
	max-width: 100%;
	height: auto;
}

.info {
	position: absolute;
	top: 40%;
	left: 10%;
}

.info h1 {
	font-size: 62px;
	text-transform: uppercase;
}

.info h3 {
	font-size: 42px;
}

.sale10 {
	text-decoration: none;
	font-size: 1.5em;
	margin: 20px 0px;
	display: inline-block;
	color: black;
	background: lightpink;
	padding: 15px;
	border-radius: 30px;
	transition: 0.5s;
}

.sale10:hover {
	box-shadow: 5px 5px 15px grey;
	text-shadow: 5px 5px 15px white;
}

/*Special Offers. Pictures*/
.sale_container {
	border: 2px solid black;
	box-shadow: 0px 0px 5px dimgrey;
	width: 80%;
	margin: 50px auto 50px auto;
	border-radius: 20px;
	background: whitesmoke;
}

.sale_title {
	text-align: center;
	font-size: 36px;
	text-shadow: 5px 5px 10px lightpink;
	color: black;
	margin-top: 50px;
	text-transform: uppercase;
}

.card_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	height: 500px;
	width: 350px;
	margin: 50px;
	box-shadow: 5px 5px 20px black;
	overflow: hidden;
	position: relative;
	border-radius: 15px;
}

.card img {
	height: 500px;
	width: 350px;
	transition: 0.5s;

}

.cardinfo {
	height: 50px;
	width: 350px;
	padding: 5p;
	background: transparent;
	position: absolute;	
	bottom: 0px;
	color: white;
	transition: 0.5s;
}

.cardinfo h2 {
	font-size: 32px;
	text-align: center;
	margin: 5px;

}

.cardinfo p {
	font-size: 24px;
	text-align: center;
	margin: 5px;
}

.card:hover .cardinfo {
	height: 270px;
	background: rgba(114, 121, 121, 0.7);
}

.card:hover img {
	transform: scale(1.1) rotate(5deg);
}

.sale {
	color: black;
	font-size: 1.4em;
	font-weight: bold;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	top: 0px;
	right: 0px;
	background: rgba(255, 182, 193, .7);
	text-shadow: 0px 0px 5px white;
	border-radius: 20px;
}


/*Special offers. Videos*/
.gif_container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.gifka {
	margin: 50px;
	position: relative;
	overflow: hidden;
	width: 350px;
	height: 500px;
	box-shadow: 5px 5px 20px black;
	border-radius: 15px;
}

.gifka video {
	width: 350px;
	height: 500px;
	box-shadow: 5px 5px 20px black;
	border-radius: 15px;
	object-fit: cover;
}

.gifka_info {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translateX(-50%);
	hyphens: auto;
	color: white;
}

.first_price {
	text-decoration: line-through;
}

.gifka_info h2 {
	font-size: 2.5rem;
}

.gifka_info h2:first-child {
	text-decoration: line-through;
}


/*Our advances*/
.advance {
	height: 500px;
	background-color: rgba(255, 182, 193, .7);
	width: 80%;
	margin: 0px 10%;
	padding: 5%;
	border-radius: 15px;
}

.advance h2 {
	margin-bottom: 5%;
	text-align: center;
}

.pros {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-row-gap: 20px;
}

.pros1 {
	/*background: lightpink;*/
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.pros img {
	height: 50px;
	width: 50px;
	display: block;
	margin: auto;
}

.pros1 p:first-child {
	display: block;
	margin: auto;
	font-size: 32px;
}

footer {
	margin-top: 50px;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0px;
}

/*Social media icons*/
.social a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	width: 90px;
	height: 90px;
	margin: 0 10px;
	font-size: 50px;
	background: white;
	color: black;
	transition: 0.4s;
	border-radius: 30%;
}

.social a:nth-child(1):hover {
	color: #833AB4;
	box-shadow: inset 0px 0px 5px black;
}

.social a:nth-child(2):hover {
	color: #E60023;
	box-shadow: inset 0px 0px 5px black;
}

.social a:nth-child(3):hover {
	color: #7360F2;
	box-shadow: inset 0px 0px 5px black;
}


.social a:nth-child(4):hover {
	color: #27A7E7;
	box-shadow: inset 0px 0px 5px black;
}

.social a:nth-child(5):hover {
	color: #5FFC7B;
	box-shadow: inset 0px 0px 5px black;
}


/*Contacts*/
.contacts {
	text-align: center;
	max-width: 80%;
	margin: 0px auto;
	margin-bottom: 50px;
}

.contacts h2:first-of-type {
	margin-bottom: 50px;
}

.contacts_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.contact_item {
	width: calc(33% - 20px);
	height: 150px;
	background: dimgrey;
	color: white;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	transition: 0.5s;
}

.contacts_container div:hover {
	/*background: #48dbfb;*/
	background: black;
}

.contacts_container div i {
	font-size: 40px;
	color: white;
}

.contacts_container div a {
	text-decoration: none;
	color: white;	
	font-size: 18px;
}

/*The map*/
iframe {
	width: 100%;
	border-radius: 5px;
}

/*Media queries*/
@media (max-width: 1440px) {
	.contact_item {
	width: 100%;
	}
	.my_header {
		flex-direction: column;
	}
	.navigation {
	justify-content: space-between;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	}
}

@media (max-width: 1024px) {
	.contact_item {
	width: 100%;
	}
	.banner {
		background-position: 75%;
	}
	.my_header {
	padding: 10px 3%;
	}
	.navigation {
	justify-content: space-between;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	}
}

@media (max-width: 768px) {
	.contact_item {
	width: 100%;
	}
	.my_header {
		flex-direction: column;
	}
	.navigation{
		width: 100%;
		align-content: center;	
	}
	.navigation li{
		width: 100%;
	}
	.navigation li a{
		width: 100%;
		text-align: center;
	}
	.new_font {
	text-align: center;
	}
	.advance {
	height: auto;
	}
}

@media (max-width:  425px) {
	.navigation {
	flex-direction: column;
	text-align: center;
	}
	.banner {
		height: 50vh;		
	}
	.card {
	height: 250px;
	width: 175px;
	}

	.card img {
	width: 175px;
	height: 250px;
	}

	.cardinfo {
		height: 80px;
		width: 175px;
		position: absolute;
		bottom: 0px;
		left: 20%;
		transform: translateX(-20%);
	}

	.card:hover .cardinfo {
	height: 180px;
	}

	.cardinfo h2 {
		font-size: 22px;
	}

	.cardinfo p {
		font-size: 14px;
	}

	.gifka {
		height: 250px;
		width: 175px;
	}

	.gifka video {
		height: 250px;
		width: 175px;
	}

	.gifka_info h2 {
	font-size: 1.5rem;
	}
	
	.advance {
	height: auto;
	}
	.pros {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-row-gap: 20px;
	}
	.info h1 {
		font-size: 42px;
	}

	.info h3 {
		font-size: 28px;
	}
	.footer_info h3 {
		text-align: center;
	}
	.logotype img {
	height: 200px;
	width: 300px;
	}
	.my_header {
		padding: 0px;
	}
	.navigation {
		margin: 10px;
	}

	.banner {
		background-position: 80%;
		background-image: linear-gradient(to right, rgba(255,255,255, 0.7) 0 100%), url('Images/new_phone.png');
	}
	.info {
		position: static;
		text-align: center;
		padding-top: 50%;
	}
	.sale_title {
		font-size: 30px;
	}
}